<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" target="_blank" 
             href="#">
            LINK_1
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" 
             href="#">
             LINK_2
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank"
             href="#">
             LINK_3
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright ml-auto">
      &copy; Your Company
    </div>
  </div>
</footer>